# IntelliJ files
*.iml
*.ipr
*.iws
.idea/

# MC FILES
.DS_Store

# Maven output
target/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*